.list-survivors {
    text-align: center;
    margin: 5% 30% 0 30%;
    padding: 10px;
    background-color: #282a36;
    border-radius: 20px;
    color: #ffffff;
}

.list-survivors h1 {
    padding: 5px;
}

.wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.survivor-card {
    padding: 15px 0 5px 0;
    border-radius: 8px;
    margin: 7px;
    background-color: #8a2be2;
}

.survivor-card-profile-link button {
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
    margin: 5px;
    width: 80%;
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #ffffff;
    transition: all 0.7s ease;
    cursor: pointer;
}

.survivor-card-profile-link button:hover {
    background-color: #ffffff;
    color: #000000;
}

@media only screen and (max-width: 1500px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1300px) {
    .list-survivors {
        margin: 5% 25% 0 25%;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .list-survivors {
        margin: 5% 20% 0 20%;
    }
}

@media only screen and (max-width: 750px) {
    .list-survivors {
        margin: 5% 15% 0 15%;
    }

    .survivor-card-profile-link button:hover {
        background-color: transparent;
        color: #ffffff;
    }

    .survivor-card-profile-link button:active {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 600px) {
    .list-survivors {
        margin: 5% 10% 0 10%;
    }
}

@media only screen and (max-width: 450px) {
    .list-survivors {
        margin: 5% 5% 0 5%;
    }
}

@media only screen and (max-width: 350px) {
    .list-survivors {
        margin: 2% 5% 0 2%;
    }
}