section {
    text-align: center;
    margin: 2% 0;
}

.img-container {
    padding: 10px 5px 10px 5px;
    margin: 2% 6% 0 6%;
    border-radius: 5px;
    background-color: #222536;
    color: #ffffff;
    transition: all 1.1s ease;
}

.img-container:focus {
    transform: scale(0.8);
    transition: all 1.1s ease;
    outline: none;
}

@media only screen and (max-width: 700px){
    .img-container {
        background-color: #f8f8f2;
        color: #000000;
    }
}
