@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');


html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Bebas Neue', cursive;
    padding-top: 50px;
    margin: 0;
    min-height: 100vh;
    background-color: #44475a;
}

.navbar {
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: #282a36;
    color: #f8f8f2;
    overflow: hidden;
    z-index: 10000;
    font-size: 20px;
    transition: all 0.7s ease;
    box-shadow: 0 2px 15px #000000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    float: left;
    text-align: center;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color:#44475a;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    position: static;
    background-color: #282a36;
    bottom: 0;
    border-radius: 30% 30% 0px 0px;
    color: #f8f8f2;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

@media only screen and (max-width: 400px) {
    #navbar-github {
        display: none;
    }

    footer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 325px) {
    .navbar, #navbar-homepage, #navbar-überlebende, #navbar-fotos {
        display: none;
    }

    .navbar li a:hover {
        background-color: transparent;
    }

    .hamburger {
        display: block;
    }
}
