<!DOCTYPE html>
<html>
    <head>
        <title>Hacker</title>
        <style>
            body {
                background-color: #000000;
            }

            a {
                text-decoration: none;
            }

            #err {
                text-align: center;
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <main>
            <div id="err">
                <h1><b>400: Etwas is schief gelaufen</b></h1>
                <h3>
                    <script type="text/javascript">
                        document.write('Du wirst automatisch zurückgeführt');
                    </script>
                    <noscript>
                        <a href="/">Homepage</a>
                    </noscript>
                </h3>
            </div>
            <script type="text/javascript">
                setTimeout(() => location.href = '/', 3000);
            </script>
        </main>
    </body>
</html>