{% extends "base.html" %}
{% block links %}
        {{ super() }}
        <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block body %}
        <main>
            <div>
                <div id="home-img">
                    <img draggable="false" src="/img/group_photos/gruppenfoto-letzter_tag.jpg" alt="Cooles Gruppenfoto">
                </div>
            </div>
            <div class="line-break">
                <hr width="90%"/>
            </div>
            <div class="content noselect">
                <section>
                    <div class="headline">
                        <h1 id="header-title">💣&nbsp;Willkommen zur ABIkalypse&nbsp;💥</h1>
                    </div>
                </section>
                <section>
                    <div class="wrapper noselect">
                        <div id="questions">
                            <h2>Fragen</h2>
                            <section class="inner">
                                <h3>👉 Wer hat überlebt? - <i>Keine Ahnung</i></h3>
                                <h3>💫 Wann? - <i>2022</i></h3>
                                <h3>😅 Wars lustig? - <i>Wahrscheinlich</i></h3>
                                <h3>🏫 13 Jahre Schule - <i>✅ Check</i></h3>
                            </section>
                        </div>
                        <div>
                            <h2>Links</h2>
                            <section class="inner">
                                <h3>🔗 <span onclick="location.href='/'"><u>Homepage</u></span></h3>
                                <h3>🔗 <span onclick="location.href='/fotos'"><u>Fotos</u></span></h3>
                                <h3>🔗 <span onclick="location.href='/überlebende'"><u>Schüler</u></span></h3>
                                <h3>🔗 <span onclick="window.open('https://gesamtschule-duisburg-mitte-de.jimdofree.com/')">
                                    <u>Gdmpappen
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                        </svg>
                                    </u>
                                </span></h3>
                            </section>
                        </div>
                    </div>
                </section>
                <section>
                    <div id="good-luck">
                        <h3>Viel Glück auf den weiteren Weg</h3>
                    </div>
                </section>
            </div>
        </main>
{% endblock %}
